{
  "extends": "mindtouch",
  "globals": {
    "Mocks": true
  },
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "valid-jsdoc": [ 1, {
      "prefer": { "return": "returns" },
      "preferType": { "object": "Object", "string": "String", "number": "Number" },
      "requireReturn": false,
      "requireReturnType": true,
      "requireParamDescription": true,
      "requireReturnDescription": true
    } ]
  }
}
